.container {
	width: 600px;
	margin: 0 auto;
}

.outer-shell {
	background-color: darkgray;
	width: 500px;
	height: 350px;
	/*margin: 0 auto;*/
	position: relative;
	border-radius: 20px;
}

.inner-shell {
	background-color: black;
	width: 450px;
	height: 300px;
	position: relative;
	left: 25px;
	top: 25px;
	border-radius: 20px;
}

.stations {
	position: absolute;
	bottom: 2px;
	left: 90px;
	background-color: black;
	color: white;
	word-spacing: 12px;
}

.stations p:last-child {
	word-spacing: 18px; 
}

.labels {
	float: left;
	width: 75px;
	height: 200px;
	background-color: black;
	color: white;
	position: relative;
	top: 25px;
	text-align: center;
}
.labels h4:last-child {
	position: relative;
	top: 104px;
}

.clockscreen {
	background-color: darkred;
	float: left;
	height: 200px;
	width: 325px;
	position: relative;
	top: 25px;
	border-radius: 15px;

}

.clocktext-hour {
	background-color: darkred;
	color: red;
	height: 180px;
	width: 100px;
	float: left;
	font-size: 90px;
	line-height: 180px;
}

.clocktext-divider-1 {
	background-color: red;
	color: red;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	left: 170px;
	top: 65px;
}

.clocktext-divider-2 {
	background-color: red;
	color: red;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	left: 170px;
	top: 95px;
}

.clocktext-minutes {
	background-color: darkred;
	color: red;
	height: 180px;
	width: 100px;
	float: left;
	font-size: 90px;
	margin-left: 40px;
	line-height: 180px;
}

.indicator {
	background-color: red;
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
	left: 10px;
	/*top: 20px;*/
	bottom: -165px;
	margin-right: 40px;
}

